#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    border: none; 
    background-color: rgb(189, 39, 39); 
    color: white; 
    cursor: pointer; 
    padding: 10px 20px; 
    border-radius: 30px; 
    font-size: 30px; 
  }
  
#topBtn:hover {
    background-color: #555; 
}

body{
    background-color: #dddddd;
}
a{
    color: white;
    text-decoration: none;

}
a:active{
    color: #0c4d92;
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
li a:hover {
    background-color:#052f5c;
    border-radius: 3px;
}
li a:active{
    background-color:#b6d5f7;
    border-radius: 3px;
    color: #052f5c;
}
#navbar{
    background-color: #0c4d92;
    padding: 7px;
    border-radius: 3px;
}
#userImg{
    float: right;
}
#loggedUser{
    color: aqua;
    font-weight: bold;
    font-size: larger;
}
#imag{
    width: 33px;
    border-radius: 20px;

}
.cart{
    float: right;
    margin: 10px 10px;
    color: rgb(218, 226, 252);
    background-color: #032142;
    padding: -5px;
    border-radius: 3px;
    margin: 0px 10px 0px 0px;
}
#cartNum{
    color: aqua;
    font-size: large;
}
#userDetails{
    float: right;
    margin: 10px 10px;
    color: rgb(218, 226, 252);
}
#imgBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
#sliderImg{
    object-fit: contain;
    width: 500px;
    height: 300px;

}
.slider{ 
    display: inline-block;
}
.align{
    margin: auto;
    
}
.arrow{
    clear: both;
    background-color: #0c4d92;
    color: white;

}
.clearfix{
    
    clear: both;
    margin-top: 10px;
    margin-bottom: 0px;
    
}



#categories{
    width: 100px;
    
    border-radius: 3px;
    background-color: #f1f1f1;
    margin: 5px;
    
}
#details{
    width:auto;
    height: auto;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 3px;
    padding-right: 15px;
    display: block;
}
.cardImg{
    width: 150px; 
    height: 150px; 
    border-radius: 3px;
}

.prods{
    display:flex;
}

#cat{
    text-align: center;
    list-style-type: none;
    padding: 5px;
    background-color: #f1f1f1;
    margin:auto;
    border-radius: 3px;

}
#cat li a {
    display: block;
    color:#052f5c;
    padding: 8px 16px;
    text-decoration: none;
  }
 
  /* color change on hover */
 #cat li a:hover {
    background-color: #fad390;
    color: #fff;
  }

.elements{
    margin: 15px 0px 15px 15px;
    border-radius: 3px;
    padding: 5px;
    background-color:#032142;
    text-align: center;
    display: inline-block;

}
.preview{
    background-color:#032142;
    border-width: 0px;
    border-radius: 3px;
    padding: 5px;
    margin: auto;
    color: white;
}
.add{
    background-color:#0c4d92;
    border-width: 0px;
    border-radius: 3px;
    padding: 5px;
    margin: auto;
    color: white;
}
.elementDetails{
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px;
}
.elementPrice{
    font-size: small;
    color: rgb(100, 167, 1);
}

#preview{
    width:auto;
    height: auto;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 3px;
    
    text-align: center;
    display: none;
}
.previewName{
    font-size:xx-large;
    padding: 20px;
    margin-top: -15px;
    
}
.previewPrice{
    font-size: xx-large;
    padding: 20px;
    color: rgb(100, 167, 1);
    margin-top: -15px;
    

}
.previewTags{
    padding-left: 10px;
    
}
.previewQuality{
    background-color: rgb(255, 230, 0);
    padding: 5px;
    font-size: xx-large;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;

}
.previewParts{
    
    text-align: center;
    margin: 10px;
}
.previewSubParts{
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px 5px 0px 0px;
    margin: 5px;
    width: 180px;
    height: 130px;
}
#quality{
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px 5px 0px 0px;
    margin: 5px;

}
.previewImg{
    width: 500px; 
    height: 400px; 
    border-radius: 3px; 
    padding: 5px;
    margin-bottom: 0px;
}
.previewBackground{
    background-color: #032142;
    border-radius: 3px;
    display: flex;
}
.flexer{
    display: flex;
    margin: 5px;
}
#back{
    background-color: red;
    color: #f1f1f1;
    font-size:larger;
    font-weight: bold;
    border-width: 0px ;
    padding: 10px;
    width: 440px;
    border-radius: 3px;
    margin-top: 10px;
}

.footer{
    background-color:#0c4d92;
    padding: 10px;
    border-radius: 3px;
    text-align: left;
    display: flex;
}
.footerText{
    color: #f1f1f1;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: wavy;
}
#logo{
    width: 130px;
    margin-bottom: -20px;
}
#logoSmall{
    width: 50px;
    margin-bottom: -20px;
    margin-top: -5px;
}
#mail{
    color:#011122;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}